button {
    background-image: linear-gradient(180deg, #e1a0a0, #e58181);
    box-shadow: 0 10px 40px #6B3838;
}

button:hover {
    background-image: linear-gradient(180deg, #E2C1C1, #EA8282);
}

.resetBtn {
    position: absolute;
    left: 67.91%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: linear-gradient(180deg, #E1A0A0 0%, #E68181 100%);
    box-shadow: 0px 10px 40px #6B3838;
    border-radius: 7px;
}

.taskAddBtn {
    position: absolute;
    left: 82.48%;
    right: 12.72%;
    top: 43.84%;
    bottom: 53.93%;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    background: #E68181;
}

i {
    font-size: 15px;
    text-align: center;
}