button {
  background-image: linear-gradient(180deg, #e1a0a0, #e58181);
  box-shadow: 0 10px 40px #6B3838;
}

button:hover {
  background-image: linear-gradient(180deg, #E2C1C1, #EA8282);
}

.resetBtn {
  position: absolute;
  left: 67.91%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 7px;
  font-family: Jost;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  height: 50px;
  width: 120px;
}

.taskAddBtn {
  position: absolute;
  left: 82.48%;
  right: 12.72%;
  top: 43.84%;
  bottom: 53.93%;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  background: #E68181;
}

i {
  font-size: 15px;
  text-align: center;
}

nav {
  height: 35px;
  width: 100%;
}

ul {
  list-style-type: none;
  display: flex;
}

.logo {
  left: 0%;
  right: 74.3%;
  top: 14%;
  bottom: 16%;
  font-family: Jost;
  font-style: normal;
  font-weight: medium;
  font-size: 24px;
  line-height: 35px;
  color: #FFFFFF;
}

body {
  background-color: #232229;
  height: 100vh;
  width: 100%;
}

h1 {
  position: absolute;
  width: 347px;
  height: 38px;
  left: 27px;
  top: 222px;
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 104.5%;
  letter-spacing: -0.035em;
  color: #FFFFFF;
}

p {
  position: absolute;
  width: 374px;
  height: 72px;
  left: 27px;
  top: 278px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #6C6A7C;
}

.taskAdd {
  position: absolute;
  width: 374px;
  height: 60px;
  left: 27px;
  top: 386px;
  background: #2B2A33;
  border: 1px dashed #6C6A7C;
  box-sizing: border-box;
  border-radius: 7px;
}

.tasks {
  position: absolute;
  width: 36px;
  height: 23px;
  left: 28px;
  top: 499px;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
}

.tasksComplete {
  position: absolute;
  width: 284px;
  height: 23px;
  left: 27px;
  top: 543px;
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #6C6A7C;
}